body{
    background: url('../../assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
 .navbar .navbar-brand h3{
  color: var(--white-color);
  font-weight: 700;
  line-height: 10px;
}
.navbar .navbar-nav .nav-link {
  color: var(--white-color);
  font-size: 1rem;
  margin-right: 20px;
  font-weight: 400;
  line-height: 10px;
  transition: all 0.3s ease-out;
}
.navbar .navbar-nav .nav-link:hover{
 color: var(--pink-color);
}
.navbar  .search-box{
  display: flex;
  position: relative;
}
.navbar .search-box form input{
  width: 200px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: 1px solid var(--white-color);
  transition: all .2s ease-in-out;
  outline: none;
  background: transparent;
}
.navbar .search-box form input::placeholder{
  color: var(--black-color);
  font-size: 16px;
  font-weight: 500;
}
.navbar .search-box .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.navbar .search-box form input:focus{
 background: var(--white-color);
  width: 250px;
}